<!DOCTYPE html>
<html ng-app="store">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	</head>
	<body ng-controller="StoreController as store">
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="controllers.js"></script>
		<script type="text/javascript" src="factories.js"></script>
		<!--  Products Container  -->
	    <div class="list-group" style="width: 500px; margin: 0 auto">
			<header>
				<h1 class="text-center">Crafted Gems</h1>
				<h2 class="text-center">– an Bloody store –</h2>
			</header>
			<!--  Product Container  -->
			<div class="list-group-item" ng-repeat="product in store.products">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<!-- Image Gallery  -->
				<div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
					<img ng-src="{{product.images[gallery.current]}}" />
					<ul class="list-inline thumbs clearfix">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image}}" />
						</li>
					</ul>
				</div>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{ active: panel.isSelected(1) }"> 
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{ active: panel.isSelected(2) }"> 
							<a href ng-click="panel.selectTab(2)">Specification</a>
						</li>
						<li ng-class="{ active: panel.isSelected(3) }"> 
							<a href ng-click="panel.selectTab(3)">Reviews</a> 
						</li>
					</ul>
					<div ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>		
					</div>
					<div ng-show="panel.isSelected(2)">
						<h4>Specification</h4>
						<blockquote>Shine: {{product.shine}}</blockquote>		
					</div>
					<div ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<blockquote ng-repeat="review in product.reviews">
							<b>Stars: {{review.stars}}</b>		
							{{review.body}}
							<cite class="clearfix">—{{review.author}}</cite>
						</blockquote>
						
						<form name="reviewForm">
			              <!--  Live Preview -->
			              <blockquote>
			                <strong>{{review.stars}} Stars</strong>
			                {{review.body}}
			                <cite class="clearfix">—{{review.author}}</cite>
			              </blockquote>

			              <!--  Review Form -->
			              <h4>Submit a Review</h4>
			              <fieldset class="form-group">
			                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="review.stars" title="Stars">
			                  <option value="">Rate the Product</option>
			                </select>
			              </fieldset>
			              <fieldset class="form-group">
			                <textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
			              </fieldset>
			              <fieldset class="form-group">
			                <input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
			              </fieldset>
			              <fieldset class="form-group">
			                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
			              </fieldset>
			            </form>
					</div>
				</section>		
			</div>
	    </div>
	</body>
</html>